*{
    margin: 0;
    padding: 0;
    list-style: none;
}
h2{
    font-size: 50px;
    font-weight: 700;
}
h3{
    font-size: 30px;
    font-weight: 700;
}
p{
    font-size: 16px;
    font-weight: 100;
}

/* ----------------------------------------- */

.nav-wrap{
    width: 100%;
}
.nav-wrap .container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-wrap .logo img{
    border-radius: 100%;
    width: 50px;
}
.nav-wrap nav{
}
.nav-wrap a{
    text-decoration: none;
    line-height: 50px;
    padding: 10px;
    color: #888;
}

/* --------------------------------------- */

.head-wrap{
    width: 100%;
    position: relative;
}
.head-wrap img{
    width: 100%;
    vertical-align: right;
}
.head-wrap .container{
    width: 960px;
    margin: auto;
    text-align: center;
}
.head-wrap .txt{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.head-wrap span{
    font-weight: 100;
}
.head-wrap h1{
    font-size: 140px;
    font-weight: 900;
    color: #fff;
}
.head-wrap p{
    letter-spacing: 20px;
    color: #fff;
}

/* ------------------------------------ */

.page-text-1{
    width: 100%;
    margin: 100px 0;
}
.page-text-1 .txt{
    text-align: center;
    padding: 30px 0;
}
.page-text-1 .pic{
    width: 1600px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.page-text-1 .pic div{
    width: 600px;
    height: 150px;
    margin: 30px;
    color: #fff;
    background-size: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-text-1 .pic h3{
    margin-bottom: 10px;
}
.page-text-1 .pic-1{
    background: url("https://picsum.photos/600/150?random=13") no-repeat;
}
.page-text-1 .pic-2{
    background: url("https://picsum.photos/600/150?random=14") no-repeat;
}

/* ------------------------------------ */

.page-text-2{
    width: 100%;
    position: relative;
}
.page-text-2 img{
    width: 100%;
    vertical-align: top;
}
.page-text-2 .txt{
    width: 600px;
    margin: auto;
    margin-top: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: #fff;
}
.page-text-2 p{
    line-height: 1.5em;
}
.page-text-2 a{
    text-decoration: none;
    border: solid 1px #fff;
    padding: 10px;
    margin-top: 100px;
    color: #fff;
}
.page-text-2 li{
    margin-top: 100px;
}